{% set categories = getCategories() %}
{% set formats = getFormats() %}
<div class="mt-2">
    <div class="fullscreen-block-wrapper">
        <input type="checkbox" id="search-toggle" class="fullscreen-block-checkbox"/>
        <label
                for="search-toggle"
                class="fullscreen-block-label mt-1 mt-md-3 disable-mobile-animation d-block"
                data-aos="fade-up"
                data-aos-duration="600"
                data-aos-delay="600"
                data-aos-easing="ease-out"
        >
            <span class="btn main-action">
                Découvrir les ressources
            </span>
        </label>
        <div class="fullscreen-block fadeInLoad-header-delayed">
            <div class="fullscreen-block-content personalization-search personalization-part-1 toggle-content fadeIn is-visible container mt-3 mt-md-5">
                <div class="row">
                    <div class="col text-right mb-3 mb-md-5">
                        <label for="search-toggle" class="fullscreen-block-label btn personalization-exit">Retour</label>
                    </div>
                </div>
                <div class="row mb-4 mb-md-5">
                    <div class="col-12">
                        <div class="personalization-title mb-2">Séléctionnez les thèmes qui vous intéressent</div>
                    </div>
                    <div class="col">
                        <div>(Ne vous inquiètez pas, ce choix n'est pas définitif).</div>
                    </div>
                </div>
                <div class="row my-3 px-2 px-md-0 justify-content-center">
                    {% for category in categories %}
                        <div class="card-select-wrapper col-auto px-1 px-md-3 mb-3 mb-md-4">
                            <input type="checkbox" id="{{ category.value }}-category" value="{{ category.value }}" />
                            <label for="{{ category.value }}-category" class="card-select">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <div class="card-select-emoji-wrapper">
                                        <img src="{{ category.img }}" alt="{{ 'Catégorie ' ~ category.label }}">
                                    </div>
                                    <div class="card-select-label mt-2">
                                        {{ category.value }}
                                    </div>
                                </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-3 mt-md-5 mb-5 pb-5">
                    <div class="col text-center">
                        <div class="personalization-next btn main-action">Suivant</div>
                    </div>
                </div>
            </div>
            <div class="fullscreen-block-content personalization-search-media personalization-part-2 toggle-content container mt-3 mt-md-5">
                <div class="row">
                    <div class="col text-right mb-3 mb-md-5">
                        <label for="search-toggle" class="fullscreen-block-label btn personalization-exit">Retour</label>
                    </div>
                </div>
                <div class="row mb-4 mb-md-5">
                    <div class="col-12">
                        <div class="personalization-title mb-2">Séléctionnez les formats qui vous correspondent</div>
                    </div>
                    <div class="col">
                        <div>(Ne vous inquiètez pas, ce choix n'est pas définitif).</div>
                    </div>
                </div>
                <div class="row my-3 px-2 px-md-0 justify-content-center">
                    {% for format in formats %}
                        <div class="card-select-wrapper col-auto px-1 px-md-3 mb-3 mb-md-4">
                            <input type="checkbox" id="{{ format.value }}-media" value="{{ format.value }}" />
                            <label for="{{ format.value }}-media" class="card-select">
                                <div class="d-flex justify-content-center align-items-center flex-column">
                                    <div class="card-select-emoji-wrapper">
                                        <img src="{{ format.img }}" alt="{{ 'Catégorie ' ~ format.label }}">
                                    </div>
                                    <div class="card-select-label mt-2">
                                        {{ format.value }}
                                    </div>
                                </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                <div class="row mt-3 mt-md-5 pb-5">
                    <div class="col text-center">
                        <div class="personalization-final btn main-action">Voir les ressources</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>