<div class="card ressource-card {% if (ressource.link is defined and 'youtube' in ressource.link) or (ressource.image is not null) %}pb-0{% endif %}">
    <div class="text-right mb-3 card-type type">
        {{ ressource.type }}
    </div>
    <div class="card-author author">
        {{ ressource.author }}
    </div>
    <div class="card-title mb-4 title">
        {{ ressource.title }}
    </div>
    {% if ressource.link is defined and 'youtube' in ressource.link %}
        <iframe width="100%" height="315"
                src="{{ ressource.link|replace({'watch?v=': '/embed/'}) }}">
        </iframe>
    {% else %}
        <div class="card-link mb-3">
            <a href="{{ ressource.link }}">Voir la ressource</a>
        </div>
    {% endif %}
    <div class="card-content {% if (ressource.link is defined and 'youtube' in ressource.link) or (ressource.image is not null) %}mt-auto{% endif %}">
        {% if ressource.image is not null %}
            <div class="d-flex justify-content-center mt-4">
                <img class="ressource-img glightbox" src="{{ asset('/files/image/' ~ ressource.image) }}" alt="{{ ressource.title }}">
            </div>
        {% endif %}
    </div>
</div>