<div class="card {% if ressource.link is defined and 'youtube' in ressource.link %}pb-0{% endif %}">
    <div class="text-right mb-3 card-type">
        {{ ressource.type }}
    </div>
    <div class="card-author author">
        {{ ressource.author }}
    </div>
    <div class="card-title mb-4 title">
        {{ ressource.title }}
    </div>
    <div class="card-content">
        {% if ressource.link is defined and 'youtube' in ressource.link %}
            <iframe width="100%" height="315"
                    src="{{ ressource.link|replace({'watch?v=': '/embed/'}) }}">
            </iframe>
        {% else %}
            <div class="card-link mb-3">
                <a href="{{ ressource.link }}">Voir la ressource</a>
            </div>
        {% endif %}
    </div>
</div>