<div class="card ressource-card {% if (ressource.link is defined and 'youtube' in ressource.link) or (ressource.image is not null) %}pb-0{% endif %}">
    <div class="d-flex justify-content-between mb-3">
        <div class="theme" data-theme="{{ ressource.themes|join(' ') }}">
            {% if ressource.themes|length > 0 %}
                {% for theme in ressource.themes %}
                    <div class="d-inline card-theme theme mr-2 {% if loop.index == 1 %}pl-0{% endif %}">
                        {{ theme }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-type type d-inline">
            {{ ressource.type }}
        </div>
    </div>
    <div class="card-author author">
        {{ ressource.author }}
    </div>
    <div class="card-title mb-4 title">
        {{ ressource.title }}
    </div>
    <div class="card-link {% if ressource.link is defined and 'youtube' in ressource.link %}mb-3{% endif %}">
        <a class="white-button" href="{{ ressource.link }}" target="_blank">Voir la ressource</a>
    </div>
    <div class="card-content {% if (ressource.link is defined and 'youtube' in ressource.link) or (ressource.image is not null) %}mt-auto{% endif %}">
        {% if ressource.link is defined and 'youtube' in ressource.link %}
            <iframe width="100%" height="200"
                    src="{{ ressource.link|replace({'watch?v=': '/embed/'}) }}">
            </iframe>
        {% endif %}
        {% if ressource.image is not null %}
            <div class="mt-4">
                <div class="ressource-img-wrapper">
                    <img class="ressource-img glightbox" src="{{ ressource.imageLink }}" alt="{{ ressource.title }}">
                </div>
            </div>
        {% endif %}
    </div>
</div>